<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqr.momohotel.dao.PicDataMapper">
  <resultMap id="BaseResultMap" type="com.xqr.momohotel.model.PicData">
    <id column="pic_id" jdbcType="INTEGER" property="picId" />
    <result column="pic_address" jdbcType="VARCHAR" property="picAddress" />
    <result column="pic_time" jdbcType="TIMESTAMP" property="picTime" />
    <result column="individual_no" jdbcType="VARCHAR" property="individualNo" />
    <result column="remark1" jdbcType="VARCHAR" property="remark1" />
    <result column="remark2" jdbcType="VARCHAR" property="remark2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pic_id, pic_address, pic_time, individual_no, remark1, remark2
  </sql>
  <select id="selectByExample" parameterType="com.xqr.momohotel.model.PicDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pic_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pic_data
    where pic_id = #{picId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pic_data
    where pic_id = #{picId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xqr.momohotel.model.PicDataExample">
    delete from pic_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xqr.momohotel.model.PicData">
    <selectKey keyProperty="picId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pic_data (pic_address, pic_time, individual_no, 
      remark1, remark2)
    values (#{picAddress,jdbcType=VARCHAR}, #{picTime,jdbcType=TIMESTAMP}, #{individualNo,jdbcType=VARCHAR}, 
      #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xqr.momohotel.model.PicData">
    <selectKey keyProperty="picId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pic_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="picAddress != null">
        pic_address,
      </if>
      <if test="picTime != null">
        pic_time,
      </if>
      <if test="individualNo != null">
        individual_no,
      </if>
      <if test="remark1 != null">
        remark1,
      </if>
      <if test="remark2 != null">
        remark2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="picAddress != null">
        #{picAddress,jdbcType=VARCHAR},
      </if>
      <if test="picTime != null">
        #{picTime,jdbcType=TIMESTAMP},
      </if>
      <if test="individualNo != null">
        #{individualNo,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null">
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        #{remark2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xqr.momohotel.model.PicDataExample" resultType="java.lang.Long">
    select count(*) from pic_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pic_data
    <set>
      <if test="record.picId != null">
        pic_id = #{record.picId,jdbcType=INTEGER},
      </if>
      <if test="record.picAddress != null">
        pic_address = #{record.picAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.picTime != null">
        pic_time = #{record.picTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.individualNo != null">
        individual_no = #{record.individualNo,jdbcType=VARCHAR},
      </if>
      <if test="record.remark1 != null">
        remark1 = #{record.remark1,jdbcType=VARCHAR},
      </if>
      <if test="record.remark2 != null">
        remark2 = #{record.remark2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pic_data
    set pic_id = #{record.picId,jdbcType=INTEGER},
      pic_address = #{record.picAddress,jdbcType=VARCHAR},
      pic_time = #{record.picTime,jdbcType=TIMESTAMP},
      individual_no = #{record.individualNo,jdbcType=VARCHAR},
      remark1 = #{record.remark1,jdbcType=VARCHAR},
      remark2 = #{record.remark2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xqr.momohotel.model.PicData">
    update pic_data
    <set>
      <if test="picAddress != null">
        pic_address = #{picAddress,jdbcType=VARCHAR},
      </if>
      <if test="picTime != null">
        pic_time = #{picTime,jdbcType=TIMESTAMP},
      </if>
      <if test="individualNo != null">
        individual_no = #{individualNo,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null">
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
    </set>
    where pic_id = #{picId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xqr.momohotel.model.PicData">
    update pic_data
    set pic_address = #{picAddress,jdbcType=VARCHAR},
      pic_time = #{picTime,jdbcType=TIMESTAMP},
      individual_no = #{individualNo,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR}
    where pic_id = #{picId,jdbcType=INTEGER}
  </update>
</mapper>