<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqr.momohotel.dao.RoomsMapper">
  <resultMap id="BaseResultMap" type="com.xqr.momohotel.model.Rooms">
    <id column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="room_no" jdbcType="VARCHAR" property="roomNo" />
    <result column="hotele_id" jdbcType="INTEGER" property="hoteleId" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
    <result column="room_type" jdbcType="VARCHAR" property="roomType" />
    <result column="room_earnest" jdbcType="DOUBLE" property="roomEarnest" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="actual_earnest" jdbcType="DOUBLE" property="actualEarnest" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="room_pic" jdbcType="VARCHAR" property="roomPic" />
    <result column="bed_number" jdbcType="INTEGER" property="bedNumber" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
    <result column="room_area" jdbcType="DOUBLE" property="roomArea" />
    <result column="breakfast" jdbcType="INTEGER" property="breakfast" />
    <result column="wifi" jdbcType="INTEGER" property="wifi" />
    <result column="room_window" jdbcType="INTEGER" property="roomWindow" />
    <result column="big_bed" jdbcType="INTEGER" property="bigBed" />
    <result column="room_num" jdbcType="INTEGER" property="roomNum" />
    <result column="free_room" jdbcType="INTEGER" property="freeRoom" />
    <result column="room_time" jdbcType="TIMESTAMP" property="roomTime" />
    <result column="remark1" jdbcType="VARCHAR" property="remark1" />
    <result column="remark2" jdbcType="VARCHAR" property="remark2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    room_id, room_no, hotele_id, room_name, room_type, room_earnest, discount, actual_earnest, 
    introduce, room_pic, bed_number, people_num, room_area, breakfast, wifi, room_window, 
    big_bed, room_num, free_room, room_time, remark1, remark2
  </sql>
  <select id="selectByExample" parameterType="com.xqr.momohotel.model.RoomsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rooms
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rooms
    where room_id = #{roomId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rooms
    where room_id = #{roomId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xqr.momohotel.model.RoomsExample">
    delete from rooms
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xqr.momohotel.model.Rooms">
    <selectKey keyProperty="roomId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rooms (room_no, hotele_id, room_name, 
      room_type, room_earnest, discount, 
      actual_earnest, introduce, room_pic, 
      bed_number, people_num, room_area, 
      breakfast, wifi, room_window, 
      big_bed, room_num, free_room, 
      room_time, remark1, remark2
      )
    values (#{roomNo,jdbcType=VARCHAR}, #{hoteleId,jdbcType=INTEGER}, #{roomName,jdbcType=VARCHAR}, 
      #{roomType,jdbcType=VARCHAR}, #{roomEarnest,jdbcType=DOUBLE}, #{discount,jdbcType=DOUBLE}, 
      #{actualEarnest,jdbcType=DOUBLE}, #{introduce,jdbcType=VARCHAR}, #{roomPic,jdbcType=VARCHAR}, 
      #{bedNumber,jdbcType=INTEGER}, #{peopleNum,jdbcType=INTEGER}, #{roomArea,jdbcType=DOUBLE}, 
      #{breakfast,jdbcType=INTEGER}, #{wifi,jdbcType=INTEGER}, #{roomWindow,jdbcType=INTEGER}, 
      #{bigBed,jdbcType=INTEGER}, #{roomNum,jdbcType=INTEGER}, #{freeRoom,jdbcType=INTEGER}, 
      #{roomTime,jdbcType=TIMESTAMP}, #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xqr.momohotel.model.Rooms">
    <selectKey keyProperty="roomId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rooms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomNo != null">
        room_no,
      </if>
      <if test="hoteleId != null">
        hotele_id,
      </if>
      <if test="roomName != null">
        room_name,
      </if>
      <if test="roomType != null">
        room_type,
      </if>
      <if test="roomEarnest != null">
        room_earnest,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="actualEarnest != null">
        actual_earnest,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="roomPic != null">
        room_pic,
      </if>
      <if test="bedNumber != null">
        bed_number,
      </if>
      <if test="peopleNum != null">
        people_num,
      </if>
      <if test="roomArea != null">
        room_area,
      </if>
      <if test="breakfast != null">
        breakfast,
      </if>
      <if test="wifi != null">
        wifi,
      </if>
      <if test="roomWindow != null">
        room_window,
      </if>
      <if test="bigBed != null">
        big_bed,
      </if>
      <if test="roomNum != null">
        room_num,
      </if>
      <if test="freeRoom != null">
        free_room,
      </if>
      <if test="roomTime != null">
        room_time,
      </if>
      <if test="remark1 != null">
        remark1,
      </if>
      <if test="remark2 != null">
        remark2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomNo != null">
        #{roomNo,jdbcType=VARCHAR},
      </if>
      <if test="hoteleId != null">
        #{hoteleId,jdbcType=INTEGER},
      </if>
      <if test="roomName != null">
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomEarnest != null">
        #{roomEarnest,jdbcType=DOUBLE},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="actualEarnest != null">
        #{actualEarnest,jdbcType=DOUBLE},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="roomPic != null">
        #{roomPic,jdbcType=VARCHAR},
      </if>
      <if test="bedNumber != null">
        #{bedNumber,jdbcType=INTEGER},
      </if>
      <if test="peopleNum != null">
        #{peopleNum,jdbcType=INTEGER},
      </if>
      <if test="roomArea != null">
        #{roomArea,jdbcType=DOUBLE},
      </if>
      <if test="breakfast != null">
        #{breakfast,jdbcType=INTEGER},
      </if>
      <if test="wifi != null">
        #{wifi,jdbcType=INTEGER},
      </if>
      <if test="roomWindow != null">
        #{roomWindow,jdbcType=INTEGER},
      </if>
      <if test="bigBed != null">
        #{bigBed,jdbcType=INTEGER},
      </if>
      <if test="roomNum != null">
        #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="freeRoom != null">
        #{freeRoom,jdbcType=INTEGER},
      </if>
      <if test="roomTime != null">
        #{roomTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null">
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        #{remark2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xqr.momohotel.model.RoomsExample" resultType="java.lang.Long">
    select count(*) from rooms
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rooms
    <set>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=INTEGER},
      </if>
      <if test="record.roomNo != null">
        room_no = #{record.roomNo,jdbcType=VARCHAR},
      </if>
      <if test="record.hoteleId != null">
        hotele_id = #{record.hoteleId,jdbcType=INTEGER},
      </if>
      <if test="record.roomName != null">
        room_name = #{record.roomName,jdbcType=VARCHAR},
      </if>
      <if test="record.roomType != null">
        room_type = #{record.roomType,jdbcType=VARCHAR},
      </if>
      <if test="record.roomEarnest != null">
        room_earnest = #{record.roomEarnest,jdbcType=DOUBLE},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=DOUBLE},
      </if>
      <if test="record.actualEarnest != null">
        actual_earnest = #{record.actualEarnest,jdbcType=DOUBLE},
      </if>
      <if test="record.introduce != null">
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
      <if test="record.roomPic != null">
        room_pic = #{record.roomPic,jdbcType=VARCHAR},
      </if>
      <if test="record.bedNumber != null">
        bed_number = #{record.bedNumber,jdbcType=INTEGER},
      </if>
      <if test="record.peopleNum != null">
        people_num = #{record.peopleNum,jdbcType=INTEGER},
      </if>
      <if test="record.roomArea != null">
        room_area = #{record.roomArea,jdbcType=DOUBLE},
      </if>
      <if test="record.breakfast != null">
        breakfast = #{record.breakfast,jdbcType=INTEGER},
      </if>
      <if test="record.wifi != null">
        wifi = #{record.wifi,jdbcType=INTEGER},
      </if>
      <if test="record.roomWindow != null">
        room_window = #{record.roomWindow,jdbcType=INTEGER},
      </if>
      <if test="record.bigBed != null">
        big_bed = #{record.bigBed,jdbcType=INTEGER},
      </if>
      <if test="record.roomNum != null">
        room_num = #{record.roomNum,jdbcType=INTEGER},
      </if>
      <if test="record.freeRoom != null">
        free_room = #{record.freeRoom,jdbcType=INTEGER},
      </if>
      <if test="record.roomTime != null">
        room_time = #{record.roomTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark1 != null">
        remark1 = #{record.remark1,jdbcType=VARCHAR},
      </if>
      <if test="record.remark2 != null">
        remark2 = #{record.remark2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rooms
    set room_id = #{record.roomId,jdbcType=INTEGER},
      room_no = #{record.roomNo,jdbcType=VARCHAR},
      hotele_id = #{record.hoteleId,jdbcType=INTEGER},
      room_name = #{record.roomName,jdbcType=VARCHAR},
      room_type = #{record.roomType,jdbcType=VARCHAR},
      room_earnest = #{record.roomEarnest,jdbcType=DOUBLE},
      discount = #{record.discount,jdbcType=DOUBLE},
      actual_earnest = #{record.actualEarnest,jdbcType=DOUBLE},
      introduce = #{record.introduce,jdbcType=VARCHAR},
      room_pic = #{record.roomPic,jdbcType=VARCHAR},
      bed_number = #{record.bedNumber,jdbcType=INTEGER},
      people_num = #{record.peopleNum,jdbcType=INTEGER},
      room_area = #{record.roomArea,jdbcType=DOUBLE},
      breakfast = #{record.breakfast,jdbcType=INTEGER},
      wifi = #{record.wifi,jdbcType=INTEGER},
      room_window = #{record.roomWindow,jdbcType=INTEGER},
      big_bed = #{record.bigBed,jdbcType=INTEGER},
      room_num = #{record.roomNum,jdbcType=INTEGER},
      free_room = #{record.freeRoom,jdbcType=INTEGER},
      room_time = #{record.roomTime,jdbcType=TIMESTAMP},
      remark1 = #{record.remark1,jdbcType=VARCHAR},
      remark2 = #{record.remark2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xqr.momohotel.model.Rooms">
    update rooms
    <set>
      <if test="roomNo != null">
        room_no = #{roomNo,jdbcType=VARCHAR},
      </if>
      <if test="hoteleId != null">
        hotele_id = #{hoteleId,jdbcType=INTEGER},
      </if>
      <if test="roomName != null">
        room_name = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomEarnest != null">
        room_earnest = #{roomEarnest,jdbcType=DOUBLE},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="actualEarnest != null">
        actual_earnest = #{actualEarnest,jdbcType=DOUBLE},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="roomPic != null">
        room_pic = #{roomPic,jdbcType=VARCHAR},
      </if>
      <if test="bedNumber != null">
        bed_number = #{bedNumber,jdbcType=INTEGER},
      </if>
      <if test="peopleNum != null">
        people_num = #{peopleNum,jdbcType=INTEGER},
      </if>
      <if test="roomArea != null">
        room_area = #{roomArea,jdbcType=DOUBLE},
      </if>
      <if test="breakfast != null">
        breakfast = #{breakfast,jdbcType=INTEGER},
      </if>
      <if test="wifi != null">
        wifi = #{wifi,jdbcType=INTEGER},
      </if>
      <if test="roomWindow != null">
        room_window = #{roomWindow,jdbcType=INTEGER},
      </if>
      <if test="bigBed != null">
        big_bed = #{bigBed,jdbcType=INTEGER},
      </if>
      <if test="roomNum != null">
        room_num = #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="freeRoom != null">
        free_room = #{freeRoom,jdbcType=INTEGER},
      </if>
      <if test="roomTime != null">
        room_time = #{roomTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null">
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
    </set>
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xqr.momohotel.model.Rooms">
    update rooms
    set room_no = #{roomNo,jdbcType=VARCHAR},
      hotele_id = #{hoteleId,jdbcType=INTEGER},
      room_name = #{roomName,jdbcType=VARCHAR},
      room_type = #{roomType,jdbcType=VARCHAR},
      room_earnest = #{roomEarnest,jdbcType=DOUBLE},
      discount = #{discount,jdbcType=DOUBLE},
      actual_earnest = #{actualEarnest,jdbcType=DOUBLE},
      introduce = #{introduce,jdbcType=VARCHAR},
      room_pic = #{roomPic,jdbcType=VARCHAR},
      bed_number = #{bedNumber,jdbcType=INTEGER},
      people_num = #{peopleNum,jdbcType=INTEGER},
      room_area = #{roomArea,jdbcType=DOUBLE},
      breakfast = #{breakfast,jdbcType=INTEGER},
      wifi = #{wifi,jdbcType=INTEGER},
      room_window = #{roomWindow,jdbcType=INTEGER},
      big_bed = #{bigBed,jdbcType=INTEGER},
      room_num = #{roomNum,jdbcType=INTEGER},
      free_room = #{freeRoom,jdbcType=INTEGER},
      room_time = #{roomTime,jdbcType=TIMESTAMP},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR}
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>




  <select id="selectRoomsByRoomNum" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    r.room_id,r.room_no,r.hotele_id,r.room_name,r.room_type,r.room_earnest,r.discount,r.actual_earnest,r.introduce,r.room_pic,
    r.bed_number,r.people_num,r.room_area,r.breakfast,r.wifi,r.room_window,r.big_bed,r.room_num,r.free_room,r.room_time
    from  rooms r,room_no rn
    where rn.room_id=r.room_id and room_number=#{roomNum}
  </select>
</mapper>